.header{
    /* display: flex; */
}
.background{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(180deg, #0000001F 0%, #000000 100%); 
}
.welcome{
    width: 100%;
    margin-top: 200px;
}
.welcome h1{
    margin: 0;
    color: white;
    font-size: 90px;
    text-align: center;
}
.form-search{
    width: 100%;
    margin-top: 100px;
}
.form-search-block{
    font-size: 20px;
    margin: auto !important;
    display: flex;
    width: 70%;
    background-color: white;
    padding: 20px 20px;
    border-radius: 7px;
}
.border-style{
    border: 1px solid black;
}
.from-search-block input{
    width: 20%;
}
.form-style{
    margin-left: 20px;;
}
.form-style button{
    color: white;
    border: none;
    background-color: #326b9d;
    padding: 15px 80px;
    margin-top: 36px;
}
.form-input-style{
    height: 50px;
    width: 200px;
}
.header-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    border-bottom: 1px solid #F1F0EB;;
}
.header-logo{
    margin-right: 90px;
    margin-top: 10px;
}
.header-menu ul{
    list-style: none;
    display: flex;  
}
.header-menu ul li{
    margin-right: 20px;
   
}
.header-menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.header-logo img{
    width: 150px;
}
.header-background{
    width: 100%;
}
.header-navbar{
    /* border-bottom:1px solid white; */
}
.winter-special-offer{
    display: flex;
}
.winter-img img{
    width: 100%;
}
.winter-special-offer-text{
    margin-top: 20%;
}
.winter-special-offer-text p{
    font-size: 20px!important;
}
.view-winter-more button{
    margin-top: 50px !important;
    padding: 10px 40px!important;

}

/* 
dfhsdgsdfhdss */
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
    transform: translateX(0);
}

/* dfsasdfasdfadsfasdf */
.restaurant-img{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.restaurant-img img{
    width: 23%;
    margin-left: 30px;
}
.spa-ads h1{
    font-size: 100px;
}
.spa-ads p{
    font-size: 26px;
}
.spa-ads h1,
.spa-ads p{
    text-align: center;
}
.book-spa-session{
    display: flex;
    justify-content: center;
}
.book-spa-session button{
    border: 1px solid #000000;
    border-radius: 0%;
    padding: 10px 20px;    
}
.book-spa-session button:hover{
    background-color: white;
    color: black;
}
.offers-content{
    display: flex;
}
.offers-text h2{
    color: #000000;
    font-size: 100px;
    line-height: 1em;
}
.offers-text p{
    color: #000000;
    font-size: 26px;
    line-height: 1.4em;
    width: 600px;
}
.discover-our-offers button{
    margin-top: 50px;
    margin-left: 200px;
    border: 1px solid #000000;
    border-radius: 0%;
    padding: 10px 40px;
}
.discover-our-offers button:hover{
    background-color: white;
    color: black;
}
.service-infomation{
    margin-left: 50px;
}
.service-infomation-style{
    text-decoration: none;
    color: black;
}
.sevice-img{
    overflow: hidden;
}
.sevice-img img{
    width: 262px;
    transition: transform 0.3s ease;
}

.sevice-img img:hover{
    transform: scale(1.1);
}
.learn-more button{
    background-color: white;
    color: black;
    border-radius: 0%;
    padding: 10px 20px;
    margin-top: -30px;
    margin-left: 120px;
    position: relative;
}
.learn-more button:hover{
    background-color: #4C7294;
    color: white;
}




.footer{
    background-color: #F6F5EF;
}
.footer-row-1{
    display: flex;
    padding-top: 100px;
}
.footer-logo-one img{
    width: 150px !important;
}
.footer-form-email button{
    color:white;
    background-color: #4c7294;
    border-radius: 0%;
    width: 150px;
}
.footer-form-email button:hover{
    background-color: #326b9d;
    color: white;
}
.footer-form-email input{
    width: 75%;
    border-radius: 0%;
    border-color: rgb(129, 127, 127);
    background-color: #F1F0EB;
}
.footer-form-email input:hover{
    border-color: black;
}
.footer-contact-address p{
    margin-bottom: 0px !important;
}
.social-media-link{
    margin-top: 50px;
}
.social-media-link a i {
    color: black;
    font-size: 20px !important;
    
}
.social-media-link a:not(:first-child){
    padding-left: 10px!important;
}
.footer-row-2{
    display: flex;
}
.footer-menu ul li{
    list-style: none;
    padding: 5px 0px;
}

.footer-menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.footer-copyright{
    width: 250px !important;
}
.footer-row-3{
    display: flex;
    height: 250px;
}
.contact-tripadvisor-lux,
.contact-boutique-booking {
    align-items: center !important;
}
.contact-tripadvisor-lux img,
.contact-boutique-booking img{
    width: 85px!important;
}
.contact-tripadvisor-lux img:not(:first-child),
.contact-boutique-booking img:not(:first-child){
    margin-left: 50px;
}

.container {
    position: relative;
}
  
#floatingDiv {
    margin-top: 10px;
    position: fixed;
    width: 70%;
    height: 80px;
    background-color: white;
    display: none;
    margin-left: 15%;
    z-index: 9999;
    padding-left: 50px;
}
.header-floatingDiv ul li{
    margin-top: 25px;
}
.header-floatingDiv-logo {
    margin-top: 6px;
    margin-left: 100px;
}
.header-floatingDiv-logo img{
    width: 120px;
}
.header-floatingDiv ul li a{
    font-size: 20px;
}
.header-floatingDiv{
    display: flex;
    justify-content: space-between;
}
.header-floatingDiv-menu ul{
    display: flex;
}
.header-floatingDiv-menu ul li{
    list-style: none;
    margin-left: 50px;
}
.header-floatingDiv-menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.header-floatingDiv-menu-right{
    margin-right: 100px;
}
.header-floatingDiv-menu-right ul li a button{
    color: white;
    background-color: #4c7294;
    border-radius: 0%;
    width: 150px;
    margin-top: -10px;
}
.room-type{
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
}
.accommodation_category-wrapper{
    position: relative;
    width: 1100px;
}
.accommodation-category{
    width: 1500px;
    overflow: hidden;
}
.accommodation-category h2{
    margin-bottom: 16px;
}
.accommodation-category .block_wrapper{
    display: flex;
    width: 1100px;
    transition: transform 0.3s ease;
}
.fa-angle-left{
    position: absolute;
    top: 46%;
    left:-18px;
    padding: 10px 13px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 2px 2px 5px #b8b7b7;
    cursor: pointer;
    z-index: 1;
}
.fa-angle-right{
    position: absolute;
    top: 46%;
    right:-420px;
    padding: 10px 13px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 2px 2px 5px #b8b7b7;
    cursor: pointer;
    z-index: 1;
}
.accommodation-category .sub-form{
    flex: 0 0 264px;
    margin-right: 16px;
}
.accommodation-category .block_wrapper .resize-form{
    border-radius: 8px;
    width: 500px;
}
.block_wrapper .styled_link{
    color: #1A1A1A;
    font-weight: 650;
    text-decoration: none;
}
.accommodation-category .block_wrapper .styled_text{
    color: #1A1A1A;
    font-size: 14px;
}
.sub-form a {
    text-decoration: none;
}




@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
#menuOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #4D7395;
    animation: fadeIn 0.3s ease-in;
  }
  
  #menu {
    display: none;
    position: fixed;
    top: 30px;
    left: 230px;
    animation: fadeIn 0.3s ease-in;
  }

  
  #closeMenu {
    cursor: pointer;
  }
  .second-header{
    display: flex;
  }
  .second-header-logo{
    margin-left: 480px;
    margin-top: -20px;
  }
  .second-header-right{
    margin-left: 300px;
  }
  .second-content{
    margin-top: 100px;
  }
.second-content a {
    font-size: 50px!important;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }