body{
    background-color: #f0f1eb;
}
.page-title-content h1{
    font-family: Lora;
    font-weight: 400;
    letter-spacing: 0px;
    font-style: normal;
    color: #000000;
    text-align: center;
}
.sidebar_widget{
    display: flex;
}
.sidebar_widget-2{
    margin-left: 10px;
}
.widget-currency {
    margin-left: 100px; 
}
.switcher1{
    width: 1000px;
    background-color: #f0f1eb;
    height: 100px;
}
.widget2{
    background-color: #ffffff;
    margin-left: 100px;
    width: 300px;
    height: 500px;
    margin-top: 30px;
}
.widget_search_form{
    margin-left: 30px;
    padding-top: 50px;
}
.widget_search_check-in-date{
    font-weight: bold;
    margin-top: 30px;
}
.widget_search_check-in-date input{
    width: 90%;
    height: 40px;
}
.widget_search_check-out-date{
    font-weight: bold;
    margin-top: 30px;
}
.widget_search_check-out-date input{
    width: 90%;
    height: 40px;
}
.widget_search-adults-children{
    display: flex;
    margin-top: 30px;
}
.widget_search-adults{
    font-weight: bold;  
}
.widget_search-children{
    margin-left: 30px;
    font-weight: bold;
}
.widget_search-submit .button{
    width: 90%;
    height: 50px;
    margin-top: 20px;
    background-color: #4c7294;
} 