.background{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-color: rgba(163, 163, 163, 0.5);
}
.du-thuyen{
    display: flex;
}
.duthuyen-img img{
    width: 100%;
}
.du-thuyen-text{
    margin-top: 20%;
}
.du-thuyen-text p{
    font-size: 20px!important;
}
.view-more button{
    margin-top: 50px !important;
    padding: 10px 40px!important;

}
.bus{
    display: flex;
}
.bus-img img{
    width: 100%;
}
.bus-text{
    margin-top: 20%;
}
.bus-text p{
    font-size: 20px!important;
}

.spa-ads h1{
    font-size: 100px;
}
.spa-ads p{
    font-size: 26px;
}
.spa-ads h1,
.spa-ads p{
    text-align: center;
}
.book-spa-session{
    display: flex;
    justify-content: center;
}
.book-spa-session button{
    border: 1px solid #000000;
    border-radius: 0%;
    padding: 10px 20px;
}
.book-spa-session button:hover{
    background-color: white;
    color: black;
}

.service-item{
    margin-left: 40px;
}
.service-style{
    text-decoration: none;
    color: black;
}
.service-img{
    overflow: hidden;
}
.service-img img{
    width: 262px;
    transition: transform 0.3s ease;
}

.service-img img:hover{
    transform: scale(1.1);
}
.learn-more button{
    background-color: white;
    color: black;
    border-radius: 0%;
    padding: 10px 20px;
    margin-top: -30px;
    margin-left: 120px;
    position: relative;
}
.learn-more button:hover{
    background-color: #4C7294;
    color: white;
}