.header {
    height: 110px;
    background-color: transparent;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.header__navbar {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    border: 1px solid black;
}
.header__nav-list {
    list-style: none;
    padding-left: 0;
}

.header__nav-listLeft {
    margin-right: auto;
}

.header__nav-listRight {
    margin-left: auto;
}
.header__nav-item {
    display: inline-block;
    font-weight: 200;
    margin: 10px;
}

.grid-container-item3 {
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 5px;
    text-align: center;
    overflow: hidden;
    max-height: 600px;
    max-height: 950px;
}

.container__content2 {

    text-align: center;
}

.container-img-content2 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.container-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}